<header class="header__container">
  <span class="header__logo">Logo</span>
  <nav>
    <ul class="nav__links">
      <li
        *ngFor="let navLink of navLinks"
        class="nav__link"
        (click)="onSelect(navLink)"
      >
        <a>{{ navLink }}</a>
      </li>
    </ul>
  </nav>
</header>
