.header__container {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
}
.header__logo {
  margin: auto 0 auto 1rem;
}
.nav__links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav__link {
  padding: 1rem;
}
.nav__link:hover {
  background-color: #bbb;
  cursor: pointer;
}
