<section>
  <img
    [src]="recipe.imgPath"
    style="max-height: 300px;"
    alt="{{ recipe.name }}"
  />
  <h3>{{ recipe.name }}</h3>
  <button class="btn-primary">Manage Recipe &#9660;</button>
  <p>{{ recipe.description }}</p>
  <p>Ingredients</p>
</section>
