<div>
  <form>
    <div class="shopping-inputs">
      <span>
        <label for="name">Ingredient: </label>
        <input type="text" id="name" #nameInput />
      </span>
      <span>
        <label for="amount">Amount: </label>
        <input type="number" id="amount" #amountInput />
      </span>
    </div>
    <div class="shopping-btns">
      <button
        type="submit"
        style="background-color: green; border: green 1px solid"
        (click)="onAddIngredient()"
      >
        Add
      </button>
      <button
        type="button"
        style="background-color:tomato; border: tomato 1px solid"
      >
        Delete
      </button>
      <button
        type="button"
        style="background-color: blue; border: blue 1px solid"
      >
        Clear
      </button>
    </div>
  </form>
</div>
