.shopping-inputs {
  display: flex;
  justify-content: space-around;
}
.shopping-inputs span {
  display: flex;
  flex-flow: column;
}

.shopping-btns {
  display: flex;
  justify-content: center;
}
.shopping-btns button {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  min-width: 5vw;
}
.shopping-btns button:hover {
  cursor: pointer;
}
