<section class="shopping-container">
  <app-shopping-list-edit
    (ingredientAdded)="addItem($event)"
  ></app-shopping-list-edit>
  <ul>
    <a style="cursor: pointer;" *ngFor="let ingredient of ingredients">
      <div class="shopping-item">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </div>
    </a>
  </ul>
</section>
