<section>
  <button class="btn-primary">Add Recipe</button>
  <div class="recipe__preview">
    <app-recipe-list
      (recipeWasSelected)="selectedRecipe = $event"
    ></app-recipe-list>
    <app-recipe-detail
      *ngIf="selectedRecipe; else noSelectionText"
      [recipe]="selectedRecipe"
    ></app-recipe-detail>
    <ng-template #noSelectionText>
      <p>Please Select a Recipe.</p>
    </ng-template>
  </div>
</section>
