<app-header (viewSelected)="onNavigate($event)"></app-header>
<main>
  <app-recipes *ngIf="currentView === 'Recipes'"></app-recipes>
  <app-shopping-list
    *ngIf="currentView === 'Shopping List'"
  ></app-shopping-list>
</main>
