<a style="cursor: pointer;" (click)="onSelected()">
  <article>
    <span>
      <h4>{{ recipe.name }}</h4>
      <p>{{ recipe.description }}</p>
    </span>
    <img style="max-height: 50px" src="{{ recipe.imgPath }}" />
  </article>
</a>
