article {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 0.1rem solid #aaa;
  background-color: #ddd;
  margin-right: 5vw;
  min-width: 30vw;
}
article:hover {
  background-color: #bbb;
  cursor: pointer;
}
