/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
.btn-primary {
  background-color: coral;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 50px;
  border: 2px solid coral;
  transition: 0.4s;
}
.btn-primary:hover {
  cursor: pointer;
  color: coral;
  background-color: white;
}
